<div data-controller="button-component" klass="<%= @klass %>">
  <button type="button" class="<%= @button_class || "text-white bg-blue-700 active:bg-blue-800 font-medium rounded-md text-lg px-5 py-2.5 dark:bg-blue-600 dark:active:bg-blue-700" %>">
    <%= header %>
    <%= content? ? content : @label %>
    <%= footer %>
  </button>
  <%= modal %>
  <%= popover %>
  <%= indicator %>
</div>