<%= box(klass: 'w-fit h-fit fixed', position: [:inside, :left_center]) do %>
  <%= box(klass: 'w-4 h-4 bg-green-500 rounded-full') %>
<% end %>



<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Components</h1>
  </div>

  <div id="components" class="flex flex-col justify-center items-center min-w-full pb-4">
    <div>&#x1F44d</div>


    <%= icon %>
    <%= hr %>
    <%= icon %>
    <%= hr do %>
      <div>Test HR Component</div>
    <% end %>
    <%= icon %>

    <%= tab(controller: :darkmode) do |c| %>
      <div><%= icon(name: "moon", klass: 'w-5 h-5 fill-blue-950') %></div>
      <div><%= icon(name: "sun", klass: 'w-5 h-5') %></div>
    <% end %>

    <div data-controller="darkmode">darkmode</div>

    <%= openlayers %>
    <div>/</div>
    <div>/</div>
    <div>/</div>
    <div>/</div>

    <%= button(label: 'Press to gray icon and press icon to rotate logo', event: { id: new_id, listener: :click, action: :toggle }) %>
    <%= box(klass: 'open:bg-gray-200',variant: :only_border, events: [{id: id}, { id: new_id, listener: :click, action: :toggle }], action: {listener: :click, action: :toggle}) do %>
      <%= icon(type: :logo, name: :github, event: { id: id }, klass: "w-10 h-10 open:rotate-180 duration-1000 ease-out") %>
    <% end %>

    <%= button(label: 'Test Variant') %>
    <%= button(label: 'Test Variant', variant: :default) %>
    <%= button(label: 'Test Variant', variant: :pill) %>
    <%= button(label: 'Test Variant', variant: :gradient_monochrome) %>
    <%= button(label: 'Test Variant', variant: :gradient_duotone) %>
    <%= button(variant: :gradient_outline) do %>
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">Purple to blue</span>
    <% end %>
    <%= button(label: 'Test Variant', variant: :colored_shadows) %>
    <%= button(label: 'Test Variant', variant: :outline) %>


    
    <%= button(label: 'Press to Copy', event: { id: new_id, listener: :click, action: :copy_text }) %>
    <%= text(label: 'Test Copy Text', event_id: id) %>
    <%= button(label: 'Press to Copy', event: { id: new_id, listener: :click, action: :copy_link }) %>
    <%= link(label: "Test Copy Link", url: '/#', event: { id: id }) %>

    <%= button(label: 'Toggle Accordion', event: { id: new_id, listener: :click, action: :toggle }) %>
    <%= accordion(orientation: :horizontal, event: { id: id }) do %>
      <div>kjhjk lkjlkj kjlkj kjlk </div>
    <% end %>

    <%= button(label: 'Scroll Back', event: { id: new_id, listener: :click, action: :scroll_back }) %>
    <%= button(label: 'Scroll Next', event: { id: id, listener: :click, action: :scroll_next }) %>
    
    <%= carousel(event: { id: id }) do %>
      <div>
          <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
      </div>
      <div>
          <img class="h-full w-full object-cover" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
      </div>
      <div>
          <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
      </div>
      <div>
          <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
      </div>
    <% end %>

    <%= carousel(time_interval: 3000, event: { id: id }) do %>
      <div>
          <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
      </div>
      <div>
          <img class="h-full w-full object-cover" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
      </div>
      <div>
          <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
      </div>
      <div>
          <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
      </div>
    <% end %>

    <%= button(label: 'Press to rotate Icon', event: { id: new_id, listener: :click, action: :open }) %>
    <%= icon(event: { id: id }, klass: "w-10 h-10 open:rotate-180 duration-1000 ease-out") %>
    <%= icon(type: :logo, name: :github, event: { id: id }, klass: "w-10 h-10 open:rotate-180 duration-1000 ease-out") %>

    <%= button(label: 'Press to rotate Img', event: { id: new_id, listener: :click, action: :open }) %>
    <%= img(event: { id: id }, klass: "w-40 h-40 open:animate-spin", url: "https://picsum.photos/1000/1000") %>

    <%= list(is_sortable: true) do %>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    <% end %>

    <%= button(label: 'Test Modal', event: { id: new_id, action: :open, listener: :click }) %>
    <%= modal(event: { id: id }) do %>
      <div class="">
        Executing JavaScript from a string is an BIG security risk.
        With eval(), malicious code can run inside your application without permission.
        With eval(), third-party code can see the scope of your application, which can lead to possible attacks.
      </div>
    <% end %>

    <%= button(label: 'Test Modal', event: { id: new_id, action: :open, listener: :click }) %>
    <%= modal(event: { id: id }, background_class: 'bg-red-500') do %>
      <div class="">
        Executing JavaScript from a string is an BIG security risk.
        With eval(), malicious code can run inside your application without permission.
        With eval(), third-party code can see the scope of your application, which can lead to possible attacks.
      </div>
    <% end %>

    <%= button(label: "Test Button", event: { action: :change_ratio, value: 95, listener: :click, id: new_id }) %>
    <%= ratio(is_show_ratio: true, type: :progress_bar, ratio: 45, event: { id: id }, ratio_class: 'bg-green-500') %>

    <%= skeleton %>

    <%= button(label: "Tab Next", event: { id: new_id, action: :tab_next, listener: :click }) %>
    <%= button(label: "Tab Back", event: { id: id, action: :tab_back, listener: :click }) %>
    <%= button(label: "Tab to 4rd Item", event: { id: id, action: :tab, value: 4, listener: :click }) %>
    <%= button(event: { id: id, action: :tab_next, listener: :click }) do %>
      <%= tab(event: { id: id }) do |c| %>
        <div><%= icon(name: "link") %></div>
        <div><%= icon(name: "check-circle", klass: "w-5 h-6 text-green-500") %></div>
        <div><%= icon(name: "spinner", type: :animation) %></div>
        <div><%= icon(name: "star", klass: "w-5 h-6 text-sky-800") %></div>
        <div><%= icon(name: "sun", klass: "w-5 h-6 text-yellow-500") %></div>
      <% end %>
    <% end %>

    <%= button(label: 'Toggle Toast', event: { id: new_id, action: :toggle, listener: :click }) %>
    <%= toast(event_id: id, position: :bottom) do %>
      <div>Executing JavaScript from a string is an BIG security risk.
        With eval(), malicious code can run inside your application without permission.
        With eval(), third-party code can see the scope of your application, which can lead to possible attacks.
      </div>
    <% end %>

    <%= video %>

    <% remember_me_event_id = SecureRandom.uuid %>
    <% toggle_button_event_id = SecureRandom.uuid %>
    <%= input(event: { id: remember_me_event_id }, name: 'email') %>
    <%= input(event: { id: remember_me_event_id }, name: 'password') %>
    <%= input(event: { id: remember_me_event_id }, name: 'phone') %>
    <%= button(label: "Test Global", events: [{ id: remember_me_event_id, listener: :click, action: :toggle_remember_me, initialize: true }, { id: toggle_button_event_id, listener: :click, action: :toggle, initialize: true }]) do %>
      <%= box(is_open: false, event: { id: toggle_button_event_id }, klass: "bg-gray-200 open:bg-blue-600 relative w-11 h-6 rounded-full group") do %>
        <div class="bg-white absolute w-5 h-5 ml-0.5 rounded-full top-1/2 left-0 -translate-y-1/2 group-open:translate-x-full duration-200 ease-out"></div>
      <% end %>
    <% end %>

    <%= box(variant: [:alert, :bordered, :blue], klass: 'relative') do %>
      <div>Test Box Component with styles</div>
      <%= box(klass: 'w-fit h-fit', position: [:border, :left_center]) do %>
        <%= box(klass: 'w-4 h-4 bg-green-500 rounded-full animate-ping') %>
      <% end %>
    <% end %>

    <%= button(type: :toggle, klass: 'bg-red-500', toggle_class: 'bg-green-500') %>
    <%= button(type: :toggle) %>
    <%= button(type: :toggle, klass: 'open:bg-green-500') %>
    <%= button(type: :toggle, klass: 'open:bg-red-500') %>
    <%= button(type: :toggle, is_open: true, klass: 'open:bg-blue-500') %>
    <%= button(type: :toggle, klass: 'open:bg-yellow-500') %>
    <%= button(type: :toggle, klass: 'open:bg-red-500') %>
    <%= button(type: :toggle, klass: 'open:bg-violet-500') %>

    <%= text(label: '12', event: { id: new_id }) %>
    <%= button(label: "Increase", event: { id: id, listener: :click, action: :increase, value: 3 }) %>
    <%= button(label: "Decrease", event: { id: id, listener: :click, action: :decrease, value: 4 }) %>

    <%= button(label: 'Test Darkroom', event: { id: new_id, action: :open, listener: :click }) %>
    <%= modal(event: { id: id }, background_class: 'bg-gray-900/80') do %>
      <%= carousel do %>
        <div>
            <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
        </div>
        <div>
            <img class="h-full w-full object-cover" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
        </div>
        <div>
            <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
        </div>
        <div>
            <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
        </div>
      <% end %>
    <% end %>

    <%= button(label: "Test Button", event: { action: :change_ratio, value: 95, listener: :click, id: new_id }) %>
    <%= ratio(ratio: 15, event_id: id, type: :progress_bar) %>


    <%= text(type: :code, klass: "w-full", label: @sample_erb_code, event_id: 'copy code id') %>

    <%= img(type: :avatar, klass: 'w-10 h-10') %>

    <%= apex %>
    <%= editorjs(object_type: 'User') %>
    <%= pincode %>

    <%
=begin%>
 <%= tui %> 
<%
=end%>
    <%
=begin%>
 <%= tui(calendar_schedules: CalendarUser.first.calendar_schedules, calendar_events: (CalendarUser.first.calendar_schedules.map {|schedule| schedule.calendar_events}).flatten) %> 
<%
=end%>


    <%= table %>

    <%= box(variant: [:alert, :bordered, :blue], klass: 'relative') do %>
        <div>Test Box Component with styles</div>
        <%= box(klass: 'w-fit h-fit', position: [:outside, :left_bottom]) do %>
          <%= box(klass: 'w-4 h-4 bg-green-500') %>
        <% end %>
      <% end %>
    <%= text(label: "Gia ca", language: :vietnamese) %>

    <%= img(event: { id: id }, klass: "w-40 h-40 open:animate-spin hover:scale-150 duration-500", url: "https://picsum.photos/1000/1000") %>

    <%= select do %>
      <option selected>Choose a country</option>
      <option value="US">United States</option>
      <option value="CA">Canada</option>
      <option value="FR">France</option>
      <option value="DE">Germany</option>
    <% end %>

    <%= box(controller: 'floating-label', klass: '') do %>
      <%= text(type: :label, label: 'Test Floating Label') %>
      <%= input(klass: '') %>
    <% end %>

    <%= tab(controller: 'edit-text-by-input') do %>
      <div><%= text(label: 'Text need edit')%></div>
      <div><%= input %></div>
    <% end %>

    <%= box(controller: 'search') do %>
      <%= input(placeholder: 'acb...xyz', url: 'https://jsonplaceholder.typicode.com/users', auto_submit: true) %>
      <%= button(label: 'Search') %>
      <%= popover do %>
        <p>Response from BE</p>
      <% end %>
    <% end %>

    <%= button(klass: 'relative w-64 h-40', event: { id: new_id, listener: :hover, action: :toggle }) do %>
      <div class="w-full h-full bg-red-500"></div>
      <%= accordion(type: :horizontal_overlay, event_id: id) do %>
          <div class="bg-green-500 w-full h-full">kjhjk lkjlkj kjlkj kjlk </div>
        <% end %>
    <% end %>

    <div data-controller="rating">
      <%= icon %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
    </div>

    <%= box(controller: 'rating') do %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
    <% end %>

    <div data-controller="image-comparison" class="relative w-[1536px] h-[854px]">
      <%= ratio(event_id: id, klass: 'w-[1536px] h-[854px]') do %>
        <img class="object-cover object-left h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/featured/image.jpg">
      <% end %>

      <%= ratio(dir: :rtl, event_id: id, is_reverse: true, klass: 'absolute inset-0 w-[1536px] h-[854px]') do %>
        <img class="object-cover object-left rtl:object-right h-full w-full blur-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/featured/image.jpg">
      <% end %>

      <%= input(type: :comparison) %>
    </div>

    <%= button(label: 'Test Variant') %>
    <%= button(label: 'Test Variant', variant: :default) %>
    <%= button(label: 'Test Variant', variant: :pill) %>
    <%= button(label: 'Test Variant', variant: :gradient_monochrome) %>
    <%= button(label: 'Test Variant', variant: :gradient_duotone) %>
    <%= button(variant: :gradient_outline) do %>
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">Purple to blue</span>
    <% end %>
    <%= button(label: 'Test Variant', variant: :colored_shadows) %>
    <%= button(label: 'Test Variant', variant: :outline) %>

    <%= box(variant: :default) do %>
      <div>ihlo u iugi hig oif uihuy giuh ujygiu huy giuh uyg iuh uyg</div>
      <%= icon %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
    <% end %>
    <div>/</div>
    <%= box(variant: :only_border) do %>
      <div>ihlo u iugi hig oif uihuy giuh ujygiu huy giuh uyg iuh uyg</div>
      <%= icon %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
    <% end %>
    <div>/</div>
    <%= box(variant: :only_bg) do %>
      <div>ihlo u iugi hig oif uihuy giuh ujygiu huy giuh uyg iuh uyg</div>
      <%= icon %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
    <% end %>
    <div>/</div>
    <%= box(variant: [:alert, :default, :red]) do %>
      <div>ihlo u iugi hig oif uihuy giuh ujygiu huy giuh uyg iuh uyg</div>
      <%= icon %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
    <% end %>

    <div class="relative">
      <%= button(label: 'Test Popover', klass: " w-64 h-40 bg-gray-200", event: { id: new_id, listener: :hover, action: :toggle }) %>
      <%= popover(event_id: id) do %>
        <div class="animate-fade-in bg-red-500">hkj o;o jygn sa</div>
      <% end %>
    </div>

    <%= box(event: { id: new_id, listener: :click, action: :toggle }, klass: 'relative w-1/2 h-[500px] bg-gray-100') do %>
      <%= popover(event_id: id, position: :mouse) do %>
        <div class="animate-fade-in bg-red-500">hkj o;o jygn sa</div>
      <% end %>
    <% end %>

    <div>/</div>
    <div>/</div>
    <div>/</div>

    <div class="relative">
      <%= button(label: 'Test Popover', klass: " w-64 h-40 bg-gray-200", event: { id: new_id, listener: :hover, action: :toggle }) %>
      <%= popover(event_id: id, position: [:outside, :right_center]) do %>
        <div class="animate-fade-in bg-red-500">hkj o;o jygn sa</div>
      <% end %>
    </div>

    <div>/</div>
    <div>/</div>
    <div>/</div>

    <div class="relative">
      <%= button(label: 'Test Popover', klass: " w-64 h-40 bg-gray-200", event: { id: new_id, listener: :hover, action: :toggle }) %>
      <%= popover(type: :emoji, event_id: id, position: [:outside, :right_center]) %>
    </div>

    <div class="relative">
      <%= button(label: "Test Popover", klass: "relative", event: { action: :toggle, listener: :click, id: new_id }) %>
      <%= popover(event_id: id) do %>
        <div class="animate-fade-in">hkj o;o jygn sa dukh khga ag knjyf </div>
      <% end %>
    </div>

    <div class="relative">
      <%= button(label: "Test Popover", klass: "relative", event: { action: :toggle, listener: :hover, id: new_id }) %>
      <%= popover(event_id: id) do %>
        <div class="animate-fade-in">hkj o;o jygn sa dukh khga ag knjyf </div>
      <% end %>
    </div>
  

































  
  </div>
</div>