<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>


    <%= box(is_test: true, controller: 'selection') do %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
    <% end %>
