<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>

    <%= box(controller: 'selection') do %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
      <%= icon %>
    <% end %>