<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>


    <%= button(label: "Tab Next", event: { id: new_id, action: :tab_next, listener: :click }) %>
    <%= button(label: "Tab Back", event: { id: id, action: :tab_back, listener: :click }) %>
    <%= button(label: "Tab to 4rd Item", event: { id: id, action: :tab, value: 4, listener: :click }) %>
    <%= button(event: { id: id, action: :tab_next, listener: :click }) do %>
      <%= tab(event: { id: id }) do |c| %>
        <div><%= icon(variant: [:outline, :link]) %></div>
        <div><%= icon(variant: [:outline, 'check-circle'], klass: "w-5 h-6 text-green-500") %></div>
        <div><%= icon(variant: [:animation, :spinner]) %></div>
        <div><%= icon(variant: [:outline, :star], klass: "w-5 h-6 text-sky-800") %></div>
        <div><%= icon(variant: [:outline, :sun], klass: "w-5 h-6 text-yellow-500") %></div>
      <% end %>
    <% end %>