<div data-controller="button--link-component" class="<%= @klass || "inline group" %>">
  <button class="<%= @button_class || "text-black dark:text-white hover:text-sky-800 font-medium text-lg text-center active:scale-[0.99] hover:scale-105 duration-100" %>">
    <a class="<%= @link_class %>" href="<%= @url %>">
      <%= content? ? content : @label %>
    </a>
  </button>
</div> 