<footer class="flex flex-row justify-between bg-white p-4 w-full max-w-screen-xl mx-auto md:py-8 border-gray-200 dark:bg-gray-900 border-t-2 dark:border-gray-600">
  <%= link(url: '/#', klass: 'flex flex-row items-center') do %>
    <%= img(klass: 'w-8 h-8 mr-2', url: 'https://saaslit.com/assets/logo-aaf6c1fc133aefefe75fed952f7f5cdaef935d3f1b9ae88924e14a1c83f8b34b.png') %>
    <h1 class="text-2xl font-semibold font-['Ubuntu']">Skyler</h1>
  <% end %>
  <h1 class="text-gray-500">© 2024 saaslit™. All Rights Reserved.</h1>
  <nav class="flex flex-row gap-x-4 font-medium text-gray-500">
    <%= link(klass: 'hover:underline', url: '/#', label: 'Privacy') %>
    <%= link(klass: 'hover:underline', url: '/#', label: 'About') %>
    <%= link(klass: 'hover:underline', url: '/#', label: 'Blog') %>
  </nav>
</footer>
