<header class="sticky top-0 flex flex-row justify-between items-center w-full p-4 border-gray-200 dark:bg-gray-900 border-b-2 dark:border-gray-600">
  <%= link(url: '/#', klass: 'flex flex-row items-center') do %>
    <%= img(klass: 'w-8 h-8 mr-2', url: 'https://saaslit.com/assets/logo-aaf6c1fc133aefefe75fed952f7f5cdaef935d3f1b9ae88924e14a1c83f8b34b.png') %>
    <h1 class="text-2xl font-semibold font-['Ubuntu']">Skyler</h1>
  <% end %>
  <nav class="flex gap-x-5 text-xl font-semibold font-['Ubuntu']">
    <%= link(klass: 'hover:text-blue-700 open:text-blue-700', url: '/', label: 'Home') %>
    <%= link(klass: 'hover:text-blue-700 open:text-blue-700', url: '/demos', label: 'Demo') %>
    <%= link(klass: 'hover:text-blue-700 open:text-blue-700', url: '/education', label: 'Education') %>
    <%= link(klass: 'hover:text-blue-700 open:text-blue-700', url: '/agriculture', label: 'Agriculture') %>
    <%= link(klass: 'hover:text-blue-700 open:text-blue-700', url: '/about', label: 'About') %>
  </nav>
  <div class="flex flex-row justify-center items-center gap-x-2">
    <%= tab(controller: :darkmode) do |c| %>
      <div><%= icon(name: "moon", klass: 'w-5 h-5 fill-blue-950') %></div>
      <div><%= icon(name: "sun", klass: 'w-5 h-5') %></div>
    <% end %>
    <%= link(variant: :button, url: '/#', label: 'Pricing & FAQ') %>
  </div>
</header>
