<div data-controller="input--time-component" data-input--time-component-options-value="<%= @options %>">
  <label><%= @label %></label>
  <input data-input--time-component-target="input" type="<%= @type %>" id="<%= @id %>" name="<%= @name %>">
</div>